
body {
    font-family: Inter, sans-serif;
}

h2 {
    color: #121212;
    font-size: 200%;
    text-align:center;
    padding: 0;
    margin-bottom: 0.1em;

}

h3 {

    text-align:right;
    margin-top: 0.1em;

}
.tableGoalView {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.tableGoalView tbody {
    width: 100%;
    display: table;
}

.tableGoalView tr {
    table-layout: fixed;
}

.tableGoalView td {
    width: 50%;
    padding: 0.25em 0.5em;
    background-color: #808080;
    border: 0.5em solid #ABABAB;
    wrap: break-word;
}

.responsiveGoalButton {

    background-color: #02CCDD;
    transition-duration: 0.2s;
    padding: 2vw 5vh;
    border: none;
    font-size:3vh;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:450px){
    .responsiveGoalButton {
        font-size: 110%;
        text-align: center;
        padding: 5% 5%;
    }
}

.responsiveGoalButton button:hover {

    background-color: #12AABB;
    box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.24);

}

.responsiveGoalButton button:active {
  background-color: #227799;
  transform: translateY(0.25em);
}

.deleteBtn {
    background-color: #FF3333;
    transition-duration: 0.2s;
    padding: 1vw 1vh;
    border: none;
    font-size:2vh;

    text-align: center;
}
.deleteBtn button:hover {

    background-color: #DD2323;
    box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.24);

}

.deleteBtn button:active {
  background-color: #BB2323;
  transform: translateY(0.25em);
}

.goalEditField input[type=text] {

   border: none;
   border-bottom: 2px solid #121212;
   outline: none;
   background-color: #BCBCBC;
   width: 100%;
   height: 2em;
}


.goalEditField input[type=number] {

   border: none;
   border-bottom: 2px solid #121212;
   outline: none;
   background-color: #BCBCBC;
   height: 1.5em;
   width: 100%;
}

.goalEditField select {
    border: none;
    border-bottom: 2px solid #121212;
    outline: none;
    background-color: #BCBCBC;
    height: 2.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
    width: 100%;
}

.goalEditField h3 {
    font-size: min(4vw, 20px);
}