body {
    font-family: Inter, sans-serif;
}

h2 {
    color: #121212;
    font-size: 200%;
    text-align:center;
    padding: 0;
    margin-bottom: 0.1em;

}

h3 {

    text-align:right;
    margin-top: 0.1em;

}
.tableGoalView {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.tableGoalView tbody {
    width: 100%;
    display: table;
}

.tableGoalView tr {
    table-layout: fixed;
}

.tableGoalView td {
    width: 50%;
    padding: 0.25em 0.5em;
    background-color: #BCBCBC;
    border: 0.5em solid #EFEFEF;
    wrap: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.tableGoalView h3 {
    font-size: min(4vw, 20px);
}