
  .container {
    display: flex; /* Flexbox to align children horizontally */
    justify-content: space-between; /* Center horizontally */
    align-items: flex-start; /* Center vertically */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background-color: #FFF; /* White background */
    padding-top: 50px;
  }
  
  .CategoryBlockTitle {
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
  }
  
  .CurrentlyBlockedTitle {
    width: 274px;
    font-family: Inter, sans-serif;
    white-space: nowrap;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    padding-left: 130px;
    background-color: white;
  }
  
  .CategoriesRectangleTitle {
    display: flex;
    width: 274px;
    height: 48px;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
    background: rgba(255, 255, 255, 0.80);
    color: black;
  }
  
  .CurrentlyBlockedCategoriesContainer {
    width: 274px;
    height: 466px;
    background: rgba(0, 0, 0, 0.60);
    margin-left: 50px;
  }
  
  
  .AddCategoriesContainer {
    width: 623px;
    height: 455px;
    background: rgba(0, 0, 0, 0.60);
    margin-right: 50px; /* Add some space between containers */
  }
  
  .AddCategoriesContainerHeader {
    display: flex;
    width: 623px;
    height: 57px;
    justify-content: flex-start;
    font-family: Inter, sans-serif;
    align-items: center;
    background: rgba(255, 255, 255, 0.50);
  }

  .AddCategoriesContainer h2 {
    padding-left: 100px;
  }

  .AddCategoriesContainer h1 {
    padding-left: 60px;
  }

  .dropdown {
    margin-left: 10px; /* Ensure some spacing for dropdown */
}

  .category-list {
    list-style: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
  }

  .category-item {
    display: flex;
    justify-content: space-between; /* Aligns text on left and button on right */
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 4px;
  }

  .category-item span {
    color: #fff;
    font-size: 18px;
  }

  .delete-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }

  .delete-btn:hover {
    background-color: #ff4d4d;
  }

  .add-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }

  .add-btn:hover {
    background-color: green;
  }

 