.titleDash {
    text-align: center;
    margin: auto;
    background-color: #02CCDD;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;

}

.YouDashBoard table {
    width: 90%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right:5%;
    border-collapse: separate;
    border-spacing: 1em;
}

.YouDashBoard tbody {
    width:100%;

}

.timeFrameBtnSel {
    background: #0299AA !important;
}

.YouDashBoard td {
    padding: 2%;
    width: 50% !important;
    vertical-align: top;
    background: #232323;
}

.YouDashBoard tr {
    width: 100%;
}

.fullPie canvas {
    width: min(100vw, 70vh) !important;
    margin: auto;
    height: min(100vw, 70vh) !important;
}

